@model FinanceManagementSystem_Prj.ViewModels.ResetPasswordViewModel
<link href="~/Content/auth-common.css" rel="stylesheet" />

<div class="auth-box">
    <h2>Reset Password</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.UserId)

        @Html.PasswordFor(m => m.NewPassword, new { @class = "input", placeholder = "New Password" })
        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "error" })

        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input", placeholder = "Confirm Password" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "error" })

        <button class="btn-primary">Reset Password</button>
    }
</div>

